<!-- Belladonna's main page -->
<!DOCTYPE html>
<html>
<style>
.bbox {
background-color: white;
border: 5px solid black;
width: 350px;
padding: 40px;
margin: 30px;
}
</style>
<br>
<br>

<div style="text-align: center;">
    <img style="float:center;" src="blank-profile-picture-973460_1280.png" width="100" height="110">
</div>
<h2 style="text-align:center;">Belladonna Versachie</h2>
<p style="text-align:center;">Belladonna Versachie is an Italian designer, businesswoman, and socialite. <br> She is the
    sister of Jianni Versachie, from whom she inhereted Versachie after his death.</p>
<h5 style="text-align:center;">Milan, IT</h5>

<div style="position:absolute; left:480px;">
    <div class="bbox" style="text-align:center">
        <a href="spring.html">
            <h3>Spring '22 Line </h3>
        </a>
        <p>Belladonna Versachie returns to a classic Grecan and Medusa inspired menswear launch for Spring '22</p>
    </div>
    <div class="bbox" style="text-align:center">
        <a href="summer.html">
            <h3>Summer '22 Line</h3>
        </a>
        <p>Belladonna Versachie explores the world of Greek Mythos with this special menswear launch</p>
    </div>
</div>

</html>

<!-- Belladonna's spring collection -->
<div style="text-align: center;">
    <h2>Outfits</h2>
</div>

<!-- Belladonna's summer collection -->
<div style="text-align: center;">
    <h2>Outfits</h2>
</div>
